# Omit COOKIE_SERVER_URL to use Hubitat app /cookie. Or set e.g. Echo Speaks: http://host:8091/cookieData
# COOKIE_SERVER_URL=http://192.168.21.100:8091/cookieData
HUBITAT_URL=http://192.168.21.100:8080
HUBITAT_APP_ID=
HUBITAT_ACCESS_TOKEN=
THERMOSTAT_NAMES=Office
